<link href="assets/h1" rel="stylesheet">
<h4>TODO list</h4>
<div class="container">
  <h2>Articles index</h2>            
  <table class="table table-hover">
    <thead>
      <tr>
		<th>ID</th>
		<th>Author</th>
		<th>Reviewer</th>
		<th>Printed_on</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
    </thead>
    <tbody>
      <% @article.each do |article| %>
		<tr>
			<td><%= article.id %></td>
			<td><%= article.author %></td>
			<td><%= article.reviwer %></td>
			<td><%= article.prined_on%></td>
			<td><a href="/articles/<%= article.id %>">Show</a></td>
			<td><a href="/articles/<%= article.id %>/edit">Edit</a></td>
			<td><%= link_to "Destroy", article_path(@article),
								method: :delete, 
								data: { confirm: "Are you sure?" }%></td>
		</tr>
	<% end %>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/articles/new">Add New Article</a>
</div>


