<h2>Author is :<%= @article.author %></h2>
<h2>Reviewer is :<%= @article.reviewer %></h2>
<h2>Printed on :<%= @article.printed_on %></h2>

<a href="/articles/<%= @article.id %>/edit">Edit</a>


<li><%= link_to "Delete", article_path(@article),
							method: :delete, 
							data: { confirm: "Are you sure?" }%> </li>
<h1>Adding comemnts</h1>

<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>

  <%end%>

     	
<h1>List of comments for Article <%= @article.author %></h1>
<%= render "comment/comment", comments: @article.comments if @article.comments.present? %>